header{
 background-color: black;
 background-size: contain;
 height: 1600px;
}

#elogo{
    top: 220px;
    max-width: 500px;
    position: absolute;
}
#intro{
    position: absolute;
    left: 20px;
    top: 1000px;
    font-size: 40px;
    justify-content: center;
}
section{
    max-width: 1000px;
    position: relative;
    margin-left: 8%;
}
#cart{
    width: 40px;
    margin-left: 550px; 
}
.img_wrap{

    background-color: black;
    border-color: gold;
    border-style: solid;

}